.dream-ai {
    overflow: scroll;
    .at-tabs__item {
        font-size: 0.7rem;
    }
    
    .inner-block {
        display: inline-block;
        .at-button {
            border-radius: 25px;
            position: fixed;
            right: 13px;
            top: 180px;
            z-index: 1;
            background: #fff;
            height: 44px;
            font-size: 14px;
        }
    }

    .at-search-bar__input-cnt {
        border-radius: 20px;
        border: 1.5px solid #15097A;
    }
    
    .test-h {
        height: auto;
    }
    .images-box {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        &-item {
            border-radius: 24px;
            margin: 10px;
            fill: #F9F9F9;
            filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
            box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
            padding-bottom: 20px;
            p {
                padding: 0 20px;
                color: #051222;
                font-family: Poppins;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: unset;
            }
            span {
                color: #051222;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: unset;
            }
        }
        &-flex {
            display: flex;
            padding: 0 20px;
            &-account {
                width: 3rem;
                height: 1.6rem;
                border-radius: 50%;
            }
        }
    }

    .at-tabs__body {
        display: none;
    }

    .demo-text-1 {
        background-color: #FF59DD2F;
        padding: 10px;
        margin: 20px;
        border-radius: 20px;
    }
    .list-catagory {
        display: flex;
        border-bottom: 1px solid #EDEDED;
        padding: 10px 10px 10px 30px;
        > span:first-child {
            color: #D70B5F;
        }
        > span {
            color: #062C81;
            font-family: Poppins;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px; /* 150% */
            display: inline-block;
            margin: 0 20px;
        }
    }
}
taro-image-core {
    border-radius: 20px;
}