.dream-ai-detail {
    .taro-swiper-core {
        height: auto;
    }
    .test-h {
        height: 11.5rem;
    }
    .detail-tag {
        color: #A72062;
        font-family: Poppins;
        font-size: 28px;
        font-style: italic;
        font-weight: 400;
        line-height: 21px; /* 150% */
        display: inline-block;
        margin: 0 10px 10px 27px;
    }
    .detail-content {
        color: #000;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem; /* 150% */
        padding: 27px;
    }
    .detail-label {
        background-color: #EDEDED;
        color: #15097A;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        display: inline-block;
        margin: 20px 20px 20px 27px;
        padding: 20px 20px;
        border-radius: 24px;
    }
}